<%- include('../partials/header') %>

<h3>Comments</h3>

<% if (comments.length) { %>
    <% comments.forEach(comment => { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><%= comment.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= comment.county %></h6>
            <p class="card-text"><%= comment.content %></p>
            <a href="#" class="card-link">Card link</a>
            // <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    <% }) %>
<% } else { %>
    <h5>No Comments Yet</h5>
<% } %>

<div class="new-comment-div">
    <form id="new-comment-form" action="/comments" method="POST">
        <div class="form-item">
            <label>Name:</label>
            <input type="text" name="name" value="<%= user.name %>">
            <br>
        </div>
        <div class="form-item">
            <label>County:</label>
            <input type="text" name="county">
            <br>
        </div>
        <div class="form-item">
            <label>Comment:</label>
            <textarea type="text" name="content"></textarea>
            <br>
        </div>
        <div class="form-item">
            <input class="btn-danger" type="submit" value="Add Comment">
        </div>
    </form>
</div>  

<%- include('../partials/footer') %>